<h1>Editing patient clinic</h1>

<%= render "form", patient_clinic: @patient_clinic %>

<br>

<div>
  <%= link_to "Show this patient clinic", @patient_clinic %> |
  <%= link_to "Back to patient clinics", patient_clinics_path %>
</div>
