.my-custom-class {
    color: red;
    font-weight: bold;
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;

}

.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    border-radius: 5px;
    overflow: hidden;

}

.nav-menu li {
    display: block;
}

.nav-menu li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-menu li a:hover {
    background-color: #333;
    color: #fff;
}

.text-center{
    width:500px;
    text-align: center;

}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #163ee0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.btn:hover {
    background-color: #51d81c;
}
/* Style for the doctors container */
#doctors {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Style for the search form */
form {
    display: flex;
    margin-bottom: 20px;
}

/* Style for the search input */
form input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Style for the search button */
form input[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

/* Style for the doctor table */
table {
    width: 50%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

/* Style for the table headers */
th {
    text-align: left;
    padding: 10px;
    background-color: rgba(151, 225, 174, 0.8);
    color: #100e0e;
}

/* Style for the table cells */
td {
    padding: 10px;
    border: 1px solid #ccc;
}


/* Style for the sort links */
p a {


    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    margin: 0 8px;
    font-size: 16px;
    font-weight: bold;
    color: #100e0e;
    background-color: rgba(166, 234, 196, 0.81);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Style for the New  button */
.button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

/* Style for the home link */
a {
    color: #4CAF50;
    text-decoration: none;
}
/* Style for pagination*/

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

    padding: 10px 20px;
}
.pagination a,
.pagination span {
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 16px;
    color: #333;
    border-radius: 3px;
    background-color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.pagination .disabled span,
.pagination .disabled a {
    color: #999;
    cursor: not-allowed;
}

.pagination a:hover {
    background-color: #f2f2f2;
}

.pagination .current,
.pagination .current:hover {
    background-color: #99a5da;
    color: #fff;
}



/* Style for new-edit views*/

.form-columns {
    display: flex;
    justify-content: space-between;
}

.form-column {
    width: 100%;
}

.field {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: #163ee0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #51d81c;
}

/* Style for show views*/

.notice {
    color: green;
    font-size: 18px;
    margin-bottom: 10px;
}

.show-info {
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.show-info p {
    margin-bottom: 5px;
}

.show-info a {
    color: #163ee0;
    text-decoration: none;
    font-weight: bold;
}

.show-info a:hover {
    text-decoration: underline;
}